/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: #9db288;
  padding: 50px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #375915;
  color: white;
  border: none;
  cursor: pointer;
}